.themeBtn {
  transition: all 0.2s ease;
  cursor: pointer;
  border: 2px solid dt.color("bd-default");
  border-radius: dt.spacing(3);
  background: dt.color("bg-default");
  padding: dt.spacing(3) dt.spacing(6);
  color: dt.color("fg-default");
  font-weight: 500;

  &:hover {
    border-color: dt.color("blue-600");
    background: dt.color("blue-500", 0.1);
  }

  &.active {
    border-color: dt.color("blue-600");
    background: dt.color("blue-600");
    color: dt.color("white");
  }
}

.currentThemeInfo {
  margin-bottom: dt.spacing(6);
  border: 1px solid dt.color("blue-500");
  border-radius: dt.spacing(2);
  background: dt.color("blue-100", 0.5);
  padding: dt.spacing(4);

  p {
    display: flex;
    align-items: center;
    gap: dt.spacing(2);
    margin: dt.spacing(1) 0;
    color: dt.color("fg-default");

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
